/* Required Parallaxer Styles */
.viewport {position: relative; overflow: hidden;}
.stage {position: absolute; top: 0; left: 0; right: 0; bottom: 0; -webkit-transform-style: preserve-3d;}
.stage .layer {position: absolute; top: 0; left: 50%; background-repeat: no-repeat; background-position: top left; -webkit-transform-style: preserve-3d;}

/* Demo Styles */
#viewport {position: absolute; top: 0; left: 0; right: 0; bottom: 0; -webkit-perspective: 100;}
#stage .layer {margin-left: -1000px; width: 2000px; height: 2000px;}

.red {background-image: url(img/red.png); -webkit-transform: scale(4) translate3d(0, 0, -300px);}
.green {background-image: url(img/green.png); -webkit-transform: scale(3) translate3d(0, 0, -200px);}
.blue {background-image: url(img/blue.png); -webkit-transform: scale(2) translate3d(0, 0, -100px);}

/* Nested Parallax */
#nested {position: relative; margin: 100px auto; width: 900px; background: #DDD; border-radius: 10px; padding: 10px; border: 1px solid #AAA;}
#nested_viewport {background: #FFF; height: 150px; -webkit-perspective: 100;}
#nested_stage .layer {margin-left: -1000px; width: 2000px; height: 2000px;}
